@import '../../app.component';

:host {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

    .wrapper {
        display: block;
        max-width: $wrap-width;
        margin: $wrap-margin;
        padding: $wrap-padding;
    }

    .nav-category {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0px;
        margin-top: 0px;

        .nav-category-link {
            flex: 1 1 auto;
            text-align: center;
            text-decoration: none;
            margin-right: 20px;
            margin-bottom: 10px;

            a {
                font-size: 1.4em;
                color: #000;
                text-decoration: none;
                border-bottom: 2px dotted #333;

                &.active {
                    border-bottom-color: #00aee8;
                    border-bottom-style: solid;
                }

                &:hover {
                    transition: border .3s;
                    border-bottom-color: #00aee8;
                }
            }
        }
    }

    .show-tags {
        text-align: center;
        margin-top: 20px;
        
        a {
            border-bottom: 1px dotted black;
            color: gray;
            text-decoration: none;
        }
    }

    .filter {
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;

        .filter-category {
            margin-right: 20px;
            flex: 1 1 150px;
        }

        .filter-category:last-child {
            margin-right: 0px;
        }
    }
}