<div class="wrapper">
  <ul class="nav-category">
    <li class="nav-category-link"
        *ngFor="let mainCategory of mainCategories">
      <a href="javascript:void(0);"
         class="nav-category-link tag"
         [class.active]="selectedTag == mainCategory.tag"
         (click)="tag_click(mainCategory.tag)">{{mainCategory.text}}</a>
    </li>
  </ul>
  <div class="show-tags"><a href="javascript:void(0);"
       (click)="filterVisible = !filterVisible">Фильтрация по тегам</a></div>
  <div class="filter"
       [style.display]="filterVisible ? 'flex' : 'none'">
    <div class="filter-category"
         *ngFor="let category of tagsByCategory | async">
      <p>{{category.text}}</p>
      <div class="tags">
        <app-tag *ngFor="let tag of category.tags"
                 [tag]="tag"
                 (click)="tag_click(tag)"
                 class="tag">{{tag}}</app-tag>
      </div>
    </div>
  </div>
</div>