<header>
    <div class="wrapper">
        <div class="logo">
            <a routerLink="/">SlidEnergy</a>
            <div>.NET C# разработчик | Разработик настольных приложений и многозвенных | Веб-разработчик | Backend & Frontend
                систем
            </div>
        </div>
        <ul class="menu"
            role="navigation">
            <li>
                <a routerLink="/"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}">Обо мне</a>
            </li>
            <li>
                <a routerLink="/projects"
                   routerLinkActive="active">Проекты</a>
            </li>
        </ul>
    </div>
</header>