@import '../app.component';

header {
    min-height: 90px;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 0 8px 0 #b3b3b3;
    background: #333 url('../../assets/layout/pattern-header.png') repeat-x 0 0;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: $wrap-width;
        margin: $wrap-margin;
        padding: $wrap-padding;

        .logo {
            margin-top: 30px;
            font-size: 28px;
            font-weight: bold;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        ul.menu {
            justify-self: end;
            margin-top: 33px;

            li {
                margin: 0 10px;
                float: left;
                list-style: none;

                a {
                    color: #000;
                    text-decoration: none;
                    border-bottom: 2px solid #333;

                    &.active {
                        border-bottom-color: #00aee8;
                    }

                    &:hover {
                        transition: border .3s;
                        border-bottom-color: #00aee8;
                    }
                }
            }
        }
    }
}