<header>
    <div class="wrapper">
        <div class="logo">
            <a routerLink="/">SlidEnergy</a>
            <div>Senior Desktop & Web Full-stack разработчик</div>
        </div>
        <ul class="menu"
            role="navigation">
            <li>
                <a routerLink="/"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}"
                   rel="nofollow">Обо мне</a>
            </li>
            <li>
                <a routerLink="/projects"
                   routerLinkActive="active"
                   rel="nofollow">Проекты</a>
            </li>
        </ul>
    </div>
</header>