@import '../app.component';

.footer {
    position: relative;
    padding: 20px 0 10px;
    background: #333;
    background-color: #404040;
    background-image: -webkit-linear-gradient(top,#333,#404040);
    background-image: linear-gradient(to bottom,#333,#404040);
    box-shadow: 0 0 8px 0 #b3b3b3;
    color: #ececec;
    font-size: .9em;
    text-shadow: #333 0 1px 0;
    z-index: 1;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: $wrap-width;
        margin: $wrap-margin;
        padding: $wrap-padding;
    }

    div.info {

        img {
            float: left;
            width: 90px;
            height: 90px;
            margin-right: 15px;
            padding: 1px;
            background-color: #d3d3d3;
            border: 2px solid #fff;
            box-shadow: 0 0 8px 1px #333;
            -webkit-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
            zoom: 1;
        }

        h3 {
            margin: 0 0 10px;
            font: 1.25em 'PT Sans',Helvetica,sans-serif;
        }

        dl {
            margin: 0;

            dt {
                float: left;
                width: 55px;
            }

            dd {
                margin-bottom: 3px;
            }
        }
    }
        
    div.social {
        justify-self: end;

        .icon {
            margin-left: 10px;
            text-decoration: none;
        }

        .icon:hover {
            color: #82e0ff;
        }
    }

    a {
        color: #ececec;
    }
}

.footer:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	background-image: url('../../assets/layout/footer_bg.png');
	z-index: -1
}

@media (max-width: 768px) {
    .footer {
        .wrapper {
            padding: 0 20px;
            grid-template-columns: 1fr;
        }

        div.social {
            padding-top: 10px;
            justify-self: center;
        }
    }
}