<div class="feedback">
  <div class="wrapper">
    <section>
      <h1>{{ 'about.writeMe' | translate }}</h1>
      <p>{{ 'about.writeMeText' | translate }}
      </p>
    </section>
    <form id="contact-form">
      <label>{{ 'about.name' | translate }}</label>
      <input type="text"
             name="from_name"
             [placeholder]="'about.yourName' | translate">
      <label>Email</label>
      <input type="email"
             name="from_email"
             [placeholder]="'about.emailForAnswer' | translate">
      <label>{{ 'about.message' | translate }}</label>
      <textarea name="message_html"
                [placeholder]="'about.yourMessage' | translate"></textarea>
      <button (click)="send_click($event)">{{ 'about.send' | translate }}</button>
      <div class="message">{{message}}</div>
    </form>
    <section>&nbsp;</section>
  </div>
</div>