<div class="about-me">
  <div class="wrapper">
    <h1>Об авторе</h1>
    <img src="assets/author/photo.jpg"
         width="300"
         height="250"
         alt="Михаил Ключко"
         title="Михаил Ключко"
         class="left frame"
         itemprop="image">
    <p>Меня зовут <span itemprop="name">Михаил Ключко</span>, мне {{age}} лет, живу в Хабаровске.</p>
    <p>Я квалифицированный разработчик программного обеспечения с опытом работы более 8 лет в разработке приложений, веб‑сайтов
      и интерфейсов. Обладаю обширными техническими знаниями и вниманием к деталям для написания программ свободных от ошибок.
      Я перфекционист по природе и методично все тестирую.</p>
    <p>Я специализируюсь на <b>.NET Framework</b>, в основном на разработке настольных приложений и многозвенных систем.
      У меня имеется профильное образование и опыт в <b>веб‑разработке</b>. </p>
    <p>Мне нравится работать над проектами в команде, которая заботится о высоком качестве приложений и удобстве пользовательских
      интерфейсов. Для меня важно построение длительных взаимоотношений с клиентами, поэтому в первую очередь я ищу долгосрочные
      проекты.</p>
    <p>Другую интересную информацию обо мне можно получить из социальных сервисов: <a href="//facebook.com/slidenergy"
         target="_blank"
         rel="nofollow">Facebook</a>, <a href="//linkedin.com/in/slidenergy"
         target="_blank"
         rel="nofollow">LinkedIn</a> и <a href="//vk.com/slidenergy"
         target="_blank"
         rel="me nofollow">Вконтакте</a>.</p>
  </div>
</div>