<section>
  <h3>Личные качества</h3>

  <ul>
    <li>
      <u>Умею зарабатывать и управлять деньгами</u> ‑ есть опыт накоплений, инвестирования, ведения бюджета, ведения предпринимательской
      деятельности, организации и управления доходным объектом недвижимости.
    </li>
    <li>
      <u>Полная самоотдача работе</u> ‑ есть опыт работы за идею и за знания, когда увлекаюсь, работаю без перерывов и выходных.
    </li>
    <li>
      <u>Целеустремленность</u> ‑ есть опыт отличного результата, когда в успех никто не поверил.
    </li>
    <li>
      <u>Легко и быстро обучаюсь, люблю осваивать новые технологии</u> ‑ будучи .NET desktop разработчиком, написал сайт
      и мобильное приложения используя angular, nodejs, cordova.
    </li>
    <li>
      <u>Не боюсь трудностей, берусь за сложную работу в разных сферах</u> ‑ есть опыт дизайнерского ремонта, организации
      мини общежития, посуточной аренды, репетиторства, фриланса.
    </li>
    <li>
      <u>Продуктивность</u> ‑ знаю что такое GTD, Agile, умею расставлять приоритеты.
    </li>
  </ul>
</section>