<section>
  <h1>Личные качества</h1>

  <div class="skills">
    <div class="skill">
      <div class="icon"><i class="fa fa-credit-card"></i></div>
      <div class="skill-content">
        <div class="title">Умею зарабатывать и управлять деньгами</div>
        <div class="text"> Есть опыт накоплений, инвестирования, ведения бюджета, ведения предпринимательской деятельности,
          организации и управления доходным объектом недвижимости.</div>
      </div>
    </div>
    <div class="skill">
      <div class="icon"><i class="fa fa-heart"></i></div>
      <div class="skill-content">
        <div class="title">Полная самоотдача работе</div>
        <div class="text">Есть опыт работы за идею и за знания, когда увлекаюсь, работаю без перерывов и выходных.</div>
      </div>
    </div>
    <div class="skill">
      <div class="icon"><i class="fa fa-bullseye"></i></div>
      <div class="skill-content">
        <div class="title">Целеустремленность</div>
        <div class="text">Есть опыт отличного результата, когда в успех никто не поверил.</div>
      </div>
    </div>
    <div class="skill">
      <div class="icon"><i class="fa fa-graduation-cap"></i></div>
      <div class="skill-content">
        <div class="title">Легко и быстро обучаюсь, люблю осваивать новые технологии</div>
        <div class="text">Будучи .NET desktop разработчиком, написал сайт и мобильное приложения используя angular, nodejs,
          cordova.
        </div>
      </div>
    </div>
    <div class="skill">
      <div class="icon"><i class="fa fa-briefcase"></i></div>
      <div class="skill-content">
        <div class="title">Не боюсь трудностей, берусь за сложную работу в разных сферах</div>
        <div class="text">Есть опыт дизайнерского ремонта, организации мини общежития, посуточной аренды, репетиторства,
          фриланса.
        </div>
      </div>
    </div>
    <div class="skill">
      <div class="icon"><i class="fa fa-clock-o"></i></div>
      <div class="skill-content">
        <div class="title">Продуктивность</div>
        <div class="text">Знаю что такое GTD, Agile, умею расставлять приоритеты и печатать вслепую.</div>
      </div>
    </div>
  </div>
</section>