<section>
  <h3>Личные качества</h3>

  <ul>
    <li>
      <u>Способность зарабатывать деньги и управлять ими</u> ‑ опыт успешных и не очень инвестиций, опыт ведения предпринимательской
      деятельности.
    </li>
    <li>
      <u>Полная самоотдача работе</u> ‑ есть опыт работы за идею и за знания, не только в рабочее время, часто без перерывов
      и выходных.</li>
    <li>
      <u>Целеустремленность</u> ‑ добился отличного результата, когда в успех никто не поверил.</li>
    <li>
      <u>Легко и быстро обучаюсь, люблю осваивать новые технологии</u> ‑ будучи .NET разработчиком, написал сайт и мобильное
      приложения используя angular, nodejs, cordova.</li>
    <li>
      <u>Не боюсь трудностей</u> ‑ сам выполнил дизайнерский ремонт своей квартиры, из другой квартиры сделал мини гостиницу,
      дополнительно занимался другой предпринимательской деятельностью.</li>
    <li>
      <u>Продуктивность</u> ‑ знаю что такое GTD, Agile, умею расставлять приоритеты.</li>
  </ul>
  <p>Полная самоотдача работе, легко и быстро обучаюсь, люблю осваивать новые технологии, способен работать в команде.</p>
</section>