p {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-top: 1em;
}

.container {
    display: flex;
 
    .container-item {
        flex: 1 1 50%;

        &.contacts {

            dl {
                margin: 0 auto;
                display: block;
            }

            dt {
                float: left;
                width: 85px;
            }

            dd {
                margin-bottom: 6px;
            }

            a {
                color: #000;
                padding: 0px 4px;
                border-radius: 4px;
                background-clip: padding-box;
                text-shadow: none;
                text-decoration: none;
                background-color: #beefff;

                &:hover {
                    background-color: #cff3ff;
                }
            }

            @media (max-width: 480px) {
                dd {
                    margin: 0 0 6px 0;
                }

                dt {
                    width: 100%;
                }
            }
        }

        &.downloads {
            text-align: center;

            a {
                text-decoration: none;
                color: gray;
                font-size: 46px;
                vertical-align: middle;
                margin-left: 20px;
            }
        }
    }
}