<footer>
  <div class="wrapper">
    <div class="info">
      <img src="assets/author/avatar.jpg"
           width="90"
           height="90"
           itemprop="image"
           alt="Михаил Ключко"
           title="Михаил Ключко">
      <h3 itemprop="name">{{ 'core.fullname' | translate }}</h3>
      <dl>
        <dt>phone:</dt>
        <dd itemprop="telephone">{{
          '+&#055;&#032;(&#057;&#050;&#052;)&#032;&#050;&#048;&#048;&#045;&#056;&#052;&#045;&#055;&#051;'
          | noindex }}</dd>
        <dt>email:</dt>
        <dd><a [href]="'mailto:' + '&#115;&#108;&#105;&#100;&#101;&#110;&#101;&#114;&#103;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' | noindex"
             itemprop="email">{{
            '&#115;&#108;&#105;&#100;&#101;&#110;&#101;&#114;&#103;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;'
            | noindex}}</a></dd>
        <dt>skype:</dt>
        <dd><a href="skype:sliderhit?chat">sliderhit</a></dd>
      </dl>
    </div>
    <div class="social">
      <a href="//facebook.com/slidenergy"
         class="icon"
         target="_blank"
         rel="nofollow">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
      <a href="//github.com/slidenergy"
         class="icon"
         target="_blank"
         rel="nofollow">
        <i class="fa fa-github fa-2x"></i>
      </a>
      <a href="//linkedin.com/in/slidenergy"
         class="icon"
         target="_blank"
         rel="nofollow">
        <i class="fa fa-linkedin-square fa-2x"></i>
      </a>
      <a href="//vk.com/slidenergy"
         class="icon"
         target="_blank"
         rel="nofollow">
        <i class="fa fa-vk fa-2x"></i>
      </a>
    </div>
  </div>
</footer>