@import '../app.component';

.projects {
    padding-top: 30px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #b3b3b3;
    text-shadow: #fff 0 1px 0;

    .wrapper {
        max-width: $wrap-width;
        margin: $wrap-margin;
        padding: $wrap-padding;
    }
}