<section class="filter-section">
  <div class="wrapper">
    <h1>Фильтрация</h1>
    <ul class="nav-category">
      <li class="nav-category-link">
        <a href="javascript:void(0);"
           class="nav-category-link tag"
           [class.active]="!selectedTag"
           (click)="selectedTag = undefined">Все проекты</a>
      </li>
      <li class="nav-category-link">
        <a href="javascript:void(0);"
           class="nav-category-link tag"
           [class.active]="selectedTag == 'desktop'"
           (click)="selectedTag = 'desktop'">Desktop</a>
      </li>
      <li class="nav-category-link">
        <a href="javascript:void(0);"
           class="nav-category-link tag"
           [class.active]="selectedTag == 'web'"
           (click)="selectedTag = 'web'">Web (full-stack)</a>
      </li>
      <li class="nav-category-link">
        <a href="javascript:void(0);"
           class="nav-category-link tag"
           [class.active]="selectedTag == 'gamedev'"
           (click)="selectedTag = 'gamedev'">Другие (gamedev)</a>
      </li>
    </ul>

    <div class="filter">
      <div class="filter-category">
        <p>По месту работы:</p>
        <div class="tags">
          <a href="javascript:void(0);"
             (click)="selectedTag = 'lers'"
             class="tag">lers</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'miac'"
             class="tag">miac</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'hobby'"
             class="tag">hobby</a>
        </div>
      </div>
      <div class="filter-category">
        <p>По типу проектов:</p>
        <div class="tags">

          <a href="javascript:void(0);"
             (click)="selectedTag = 'web'"
             class="tag">web</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'desktop'"
             class="tag">desktop</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 't-sql'"
             class="tag">t-sql</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'api'"
             class="tag">api</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'utils'"
             class="tag">utils</a>
        </div>
      </div>
      <div class="filter-category">
        <p>По языку программирования:</p>
        <div class="tags">

          <a href="javascript:void(0);"
             (click)="selectedTag = 'c#'"
             class="tag">c#</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'javascript'"
             class="tag">javascript</a>
        </div>
      </div>
      <div class="filter-category">
        <p>Другие теги:</p>
        <div class="tags">
          <a href="javascript:void(0);"
             (click)="selectedTag = 'angular'"
             class="tag">angular</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'devexpress'"
             class="tag">devexpress</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'teamwork'"
             class="tag">teamwork</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'windows-services'"
             class="tag">windows-services</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'pipes'"
             class="tag">pipes</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'gamedev'"
             class="tag">gamedev</a>
          <a href="javascript:void(0);"
             (click)="selectedTag = 'unity3d'"
             class="tag">unity3d</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="projects">
  <div class="wrapper">
    <h1>Список проектов ({{selectedTag ? selectedTag : 'все'}})</h1>
    <app-project *ngFor="let project of projects$ | async | projectFilter:selectedTag"
                 [project]="project">
    </app-project>
  </div>
</section>