table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 0 8px 8px;
    border-bottom: 1px solid #a0a0a0;
    text-align: left;
    font-weight: normal;
}

td:first-child {
    width: 250px;
}

td {
    width: 170px;
    padding: 10px 8px;
}

td:nth-child(1n+2) {
    border-top: 1px solid #fff;
    text-shadow: #ececec 0 1px 0;
}

td:nth-child(2) {
    background-color: #daf6ff;
    background-image: -webkit-linear-gradient(left,#fff,#daf6ff);
    background-image: linear-gradient(to right,#fff,#daf6ff);
}

td:nth-child(3) {
    background-color: #d9f5ff;
    background-image: -webkit-linear-gradient(left,#daf6ff,#d9f5ff);
    background-image: linear-gradient(to right,#daf6ff,#d9f5ff);
}

td:last-child {
    width: 280px;
    background-color: #beefff;
    background-image: -webkit-linear-gradient(left,#d9f5ff,#beefff);
    background-image: linear-gradient(to right,#d9f5ff,#beefff);
    border-right: 1px solid #b9b9b9;
}

a {
    color: #000;
    padding: 0px 4px;
    border-radius: 4px;
    background-clip: padding-box;
    text-shadow: none;
    text-decoration: none;
    background-color: #beefff;

    &:hover {
        background-color: #cff3ff;
    }
}

.skills {
    background-color: #fff;
    border-bottom: 1px solid #b9b9b9;
    width: 100%;
}