<section>
    <h3>Профессиональные навыки</h3>
    <table class="skills">
        <thead>
            <tr>
                <th></th>
                <th>Beginner</th>
                <th>Intermediate</th>
                <th>Expert</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.beginner}}</td>
                <td>{{item.intermediate}}</td>
                <td>{{item.expert}}</td>
            </tr>
        </tbody>
    </table>
    <p>Знаю
        <b>английский язык</b> на уровне чтения и переписки. Пользуюсь системами управления задачами
        <b>JIRA</b> и
        <b>Mantis</b>, системами управления версий
        <b>GIT</b> и
        <b>SVN</b>. Работаю в среде
        <b>MS Visual Studio и VS Code</b> с базой данных
        <b>MS SQL Server</b>.
    </p>
</section>