a {
    color: #000;
    padding: 0px 4px;
    border-radius: 4px;
    background-clip: padding-box;
    text-shadow: none;
    text-decoration: none;
    background-color: #beefff;

    &:hover {
        background-color: #cff3ff;
    }
}

.expertise-areas {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 20px;

    .expertise-area {
        flex: 1 1 50%;
        padding: 15px 0px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .icon {
            font-size: 32px;
            color: gray;
            height: 70px;
            width: 70px;
            min-width: 70px;
            min-height: 70px;
            border-radius: 50%;
            border: 1px solid gray;
            float: left;
            text-align: center;
            vertical-align: bottom;
            line-height: 66px;
            margin-right: 20px;
        }

        .content {
            font-size: 20px;
        }
    }
}
.techs {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 20px;

    .tech {
        flex: 1 1 100%;
        padding: 15px 0px;

        .icon {
            font-size: 32px;
            height: 70px;
            width: 70px;
            float: left;
            text-align: center;
            vertical-align: bottom;
            line-height: 66px;
        }

        .tech-content {
            margin-left: 90px;

            .title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .text {
                //color: gray;
            }
        }
    }
}