$wrap-width: 1080px;
$wrap-margin: 0 auto;
$wrap-padding: 0 40px;

$h1-font-size: 2em;
$h1-font-weight: normal;
$h1-font-fam: 'Lobster',Helvetica,sans-serif;
$h1-margin: .67em 0;

.tags {
    a {
        color: #000;
        position: relative;
        margin-top: 5px;
        margin-right: 10px;
        padding: 0px 4px;
        background-color: #beefff;
        border-radius: 8px;
        background-clip: padding-box;
        text-shadow: none;
        text-decoration: none;
        border: 1px solid #a5cdef;
        display: inline-block;
    
        &:hover {
            background-color: #cff3ff;
        }
    }
}

.tags {
    a {
        &:not(:last-child):after {
            content: ',';
            right: -10px;
            position: relative;
        }
    }
}