$wrap-width: 1080px;
$wrap-margin: 0 auto;
$wrap-padding: 0 40px;

$h1-font-size: 2em;
$h1-font-weight: normal;
$h1-font-fam: 'Lobster',Helvetica,sans-serif;
$h1-margin: .67em 0;

$background-light: #fff;
