<section class="project">
  <h3>{{currentLang == 'ru' ? project.titleRu : project.titleEn}}</h3>
  <div class="tags">
    <app-tag href="#"
             *ngFor="let tag of project.tags"
             (click)="tagClicked.emit(tag)"
             [tag]="tag"></app-tag>
  </div>
  <ngx-gallery class="gallery"
               [options]="galleryOptions"
               [images]="project.images">
  </ngx-gallery>
  <p [innerHTML]="currentLang == 'ru' ? project.descriptionRu : project.descriptionEn | noindex:'html'"></p>
  <p *ngIf="project.projectUsed">{{ 'projects.usedInProject' | translate }}:</p>
  <ul class="inside">
    <li *ngFor="let uses of project.projectUsed">{{uses}}</li>
  </ul>
</section>