.project {
    min-height: 350px;
    padding-bottom: 20px;
    text-align: justify;

    .tags {
        margin-bottom: 16px;
        word-wrap: break-word;
    }

    .gallery {
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .text {
        min-height: 300px;
    }

    @media (max-width: 400px) {
        .text {
            min-height: 250px;
        }
    }

    ::ng-deep ul {
        list-style-position: inside;
        padding-left: 0px;
    }
}