.project {
            min-height: 350px;

            .tags {
                margin-bottom: 16px;
                word-wrap: break-word;

                a:not(:last-child):after {
                    content: ',';
                    right: -10px;
                    position: relative;
                }
            }

            .gallery {
                float: left;
                margin-right: 15px;
            }

            ul.inside {
                list-style-position: inside;
            }

            a {
                color: #000;
                position: relative;
                margin-right: 10px;
                padding: 0px 4px;
                background-color: #beefff;
                border-radius: 8px;
                background-clip: padding-box;
                text-shadow: none;
                text-decoration: none;
                border: 1px solid #a5cdef;
            
                &:hover {
                    background-color: #cff3ff;
                }
            }
        }