.project {
    min-height: 350px;
    padding-bottom: 20px;

    .tags {
        margin-bottom: 16px;
        word-wrap: break-word;
    }

    .gallery {
        float: left;
        margin-right: 15px;
    }

    ul.inside {
        list-style-position: inside;
    }
}