<section>
  <h1>{{ 'about.workExp' | translate:{value: workExperienceYears} }}</h1>
  <div *ngIf="currentLang == 'ru'">
    <div class="work">
      <div class="period">2011 - настоящее время</div>
      <div class="text">
        <div class="title">{{ 'ООО "ЛЭРС УЧЕТ" - Senior Full-stack .NET Developer' | noindex }}</div>
        Сайт продукта: <a target="_blank"
           rel="noreferrer nofollow"
           [href]="'http://www.lers.ru/' | noindex">{{ 'ЛЭРС УЧЕТ' | noindex}}</a>
        <ul>
          <li>Разработка многозвенной системы диспетчеризации и учета потребления энергоресурсов с клиентами по всей
            России и Казахстану, включая разработку сервера, базы данных (MS SQL), клиентского приложения (DevExpress),
            слоя сетевого взаимодействия.</li>
          <li>Проектирование и разработка фреймворка для интеграции с другими системами, веб-интерфейса (ASP.NET,
            AngularJS, Angular, DevExpress), программного интерфейса (WebApi).</li>
          <li>Проектирование, разработка и внедрение: активации ПО, телеметрии (.net core, Angular), системы управления
            лицензиями, веб-интерфейса для дилеров (ASP.NET).</li>
          <li>Участие в планировании стратегии продаж и развития системы, в собеседованиях.</li>
          <li>Разработка внешних модулей, утилит, тестов (NUnit), написание и оптимизация SQL запросов.</li>
          <li>Техническая поддержка пользователей по всей России и Казахстану.</li>
        </ul>
        Использовалось:
        <ul>
          <li>общее: C#, .NET 4.6, sockets, pipes, async programming, NUnit, SVN/GIT, Jira/Mantis, PowerShell; </li>
          <li>сервер: Windows Services, ado.net, t-sql, Entity Framework;</li>
          <li>клиент: WinForms, DevExpress;</li>
          <li>веб‑интерфейс: asp.net, JavaScript, TypeScript, AngularJS, Angular, html5, css3, WebApi.</li>
        </ul>
        <a routerLink="projects"
           fragment="lers"
           rel="nofollow">Смотреть проекты и достижения</a>
      </div>
    </div>
    <div class="work">
      <div class="period">2010, 6 мес.</div>
      <div class="text">
        <div class="title">Neorise LTD - Middle Full-stack .NET Developer, freelance</div>
        <ul>
          <li>Участие в иностранной разработке системы автоматизации работы автосервиса, включая разработку клиентского
            приложения (DevExpress), сервера, базы данных (MS SQL).</li>
          <li>Разработка веб-интерфейса для планирования задач механников (WebApi, JQuery).</li>
          <li>Общение с заказчиком на всех этапах разработки на английском языке.</li>
        </ul>
        <p>Использовалось: T-SQL, .NET, WinForms, LINQ to SQL, DevExpress.</p>
      </div>
    </div>
    <div class="work">
      <div class="period">2009 - 2011</div>
      <div class="text">
        <div class="title">МБУ Межотраслевой информационно-аналитический центр - Junior Full-stack Developer</div>
        <ul>
          <li>Доработка и сопровождение единой медицинской информационной системы и внедрение во все муниципальные
            учреждения здравоохранения г. Хабаровска.</li>
          <li>Написание и оптимизация SQL запросов, проектирование базы данных MS SQL (1000 таблиц).</li>
          <li>Проектирование и разработка системы формирования заявок на льготные лекарственные препараты и внедрение в
            учреждения здравоохранения г. Хабаровска (.NET, DevExpress).</li>
          <li>Техническая поддержка пользователей учреждений здравоохранения г. Хабаровска.</li>
        </ul>
        <p>Использовалось: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
        <a routerLink="projects"
           fragment="miac"
           rel="nofollow">Смотреть проекты и достижения</a>
      </div>
    </div>
  </div>
  <div *ngIf="currentLang == 'en'">
    <div class="work">
      <div class="period">2011 - now</div>
      <div class="text">
        <div class="title">{{ 'LERS AMR Software - Senior Full-stack .NET developer' | noindex }}</div>
        Product site: <a target="_blank"
           rel="noreferrer nofollow"
           [href]="'http://www.lers.ru/' | noindex">{{ 'LERS AMR' | noindex}}</a>
        <ul>
          <li>Development of a n-tier dispatch system and metering of energy consumption with customers
            throughout Russia and Kazakhstan, including development of a server, a database (MS SQL), a client
            application (DevExpress), a network layer.</li>
          <li>Design and development of a framework for integration with other systems, a web-interface
            (ASP.NET, AngularJS, Angular, DevExpress), an application programming interface (WebApi).</li>
          <li>Design, development and integration of: a product activation, a telemetry (.net core, Angular),
            a license management system, a web-interface for dealers (ASP.NET).</li>
          <li>Participation in planning of a sales strategy and a product development, in interviews.</li>
          <li>Development of external modules, utilities, tests (NUnit), write and optimization SQL
            queries.</li>
          <li>Technical support for users throughout Russia and Kazakhstan.</li>
        </ul>
        Used:
        <ul>
          <li>common: C#, .NET 4.6, sockets, pipes, async programming, NUnit, SVN/GIT, Jira/Mantis, PowerShell; </li>
          <li>server: Windows Services, ado.net, t-sql, Entity Framework;</li>
          <li>client: WinForms, DevExpress;</li>
          <li>web: asp.net, JavaScript, TypeScript, AngularJS, Angular, html5, css3, WebApi.</li>
        </ul>
        <a routerLink="projects"
           fragment="lers"
           rel="nofollow">See projects and progress</a>
      </div>
    </div>
    <div class="work">
      <div class="period">2010, 6 months</div>
      <div class="text">
        <div class="title">Neorise LTD - Middle Full-stack .NET Developer, freelance</div>
        <ul>
          <li>Participation in foreign development of autoservice automation system, including the development of the
            client application (DevExpress), server, database (MS SQL).</li>
          <li>Development of a web-interface for scheduling tasks of mechanics (WebApi, JQuery).</li>
          <li>Communication with the customer at all stages of development in English.</li>
        </ul>
        <p>Used: T-SQL, .NET, WinForms, LINQ to SQL, DevExpress.</p>
      </div>
    </div>
    <div class="work">
      <div class="period">2009 - 2011</div>
      <div class="text">
        <div class="title">MPB Intersectoral information-analytical center - Junior Full-stack Developer</div>
        <ul>
          <li>Completion and maintenance of a unified medical information system and integration in all municipal
            healthcare institutions of Khabarovsk.</li>
          <li>Write and optimization SQL queries, design of an MS SQL database (1000 tables).</li>
          <li>Design and development of a system for creating queries for preferential medicines and
            integration them into Khabarovsk’s healthcare institutions (.NET, DevExpress).</li>
          <li>Technical support for users of Khabarovsk healthcare institutions.</li>
        </ul>
        <p>Used: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
        <a routerLink="projects"
           fragment="miac"
           rel="nofollow">See projects and progress</a>
      </div>
    </div>
  </div>
</section>