<section>
  <h1>{{ 'about.workExp' | translate:{value: workExperienceYears} }}</h1>
  <div *ngIf="currentLang == 'ru'">
    <div class="work">
      <div class="period">2011 - настоящее время</div>
      <div class="text">
        <div class="title">{{ 'ООО "ЛЭРС УЧЕТ" - Senior Full-stack .NET Developer' | noindex }}</div>
        Сайт продукта: <a target="_blank"
           rel="noreferrer nofollow"
           [href]="'http://www.lers.ru/' | noindex">{{ 'ЛЭРС УЧЕТ' | noindex}}</a>
        <ul>
          <li>Разработка многозвенной системы диспетчеризации и учета потребления энергоресурсов с клиентами по всей
            России и Казахстану, включая разработку сервера, базы данных (MS SQL), клиентского приложения (DevExpress),
            слоя сетевого взаимодействия.</li>
          <li>Проектирование и разработка фреймворка для интеграции с другими системами, веб-интерфейса (ASP.NET,
            AngularJS, Angular, DevExpress), программного интерфейса (WebApi).</li>
          <li>Проектирование, разработка и внедрение: активации ПО, телеметрии (.net core, Angular), системы управления
            лицензиями, веб-интерфейса для дилеров (ASP.NET).</li>
          <li>Участие в планировании стратегии продаж и развития системы, в собеседованиях.</li>
          <li>Разработка внешних модулей, утилит, тестов (NUnit), написание и оптимизация SQL запросов.</li>
          <li>Техническая поддержка пользователей по всей России и Казахстану.</li>
        </ul>
        Использовалось:
        <ul>
          <li>общее: C#, .NET 4.6, sockets, pipes, async programming, NUnit, SVN/GIT, Jira/Mantis, PowerShell; </li>
          <li>сервер: Windows Services, ado.net, t-sql, Entity Framework;</li>
          <li>клиент: WinForms, DevExpress;</li>
          <li>веб‑интерфейс: asp.net, JavaScript, TypeScript, AngularJS, Angular, html5, css3, WebApi.</li>
        </ul>
        <a routerLink="projects"
           fragment="lers"
           rel="nofollow">Смотреть проекты и достижения</a>
      </div>
    </div>
    <div class="work">
      <div class="period">2010, 6 мес.</div>
      <div class="text">
        <div class="title">Neorise LTD - Middle Full-stack .NET Developer, freelance</div>
        <ul>
          <li>Участие в иностранной разработке системы автоматизации работы автосервиса, включая разработку клиентского
            приложения
            (DevExpress), сервера, базы данных (MS SQL).</li>
          <li>Разработка веб-интерфейса для планирования задач механников (WebApi, JQuery).</li>
          <li>Общение с заказчиком на всех этапах разработки на английском языке.</li>
        </ul>
        <p>Использовалось: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
      </div>
    </div>
    <div class="work">
      <div class="period">2009 - 2011</div>
      <div class="text">
        <div class="title">МБУ Межотраслевой информационно-аналитический центр - Junior Full-stack Developer</div>
        <ul>
          <li>Доработка и сопровождение единой медицинской информационной системы и внедрение во все муниципальные
            учреждения здравоохранения г. Хабаровска.</li>
          <li>Написание и оптимизация SQL запросов, проектирование базы данных MS SQL (1000 таблиц).</li>
          <li>Проектирование и разработка системы формирования заявок на льготные лекарственные препараты и внедрение в
            учреждения здравоохранения г. Хабаровска (.NET, DevExpress).</li>
          <li>Техническая поддержка пользователей учреждений здравоохранения г. Хабаровска.</li>
        </ul>
        <p>Использовалось: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
        <a routerLink="projects"
           fragment="miac"
           rel="nofollow">Смотреть проекты и достижения</a>
      </div>
    </div>
  </div>
  <div *ngIf="currentLang == 'en'">
    <div class="work">
      <div class="period">2011 - now</div>
      <div class="text">
        <div class="title">{{ 'LERS AMR Software - Software Engineer' | noindex }}</div>
        Product site: <a target="_blank"
           rel="noreferrer nofollow"
           [href]="'http://www.lers.ru/' | noindex">{{ 'LERS AMR' | noindex}}</a>
        <ul>
          <li>development of a n-tier dispatch system and metering of energy consumption, including development
            a server side, databases, a client application, a network layer, own framework for integration with other
            systems, a web-interface, a web api.
          </li>
          <li>development of a management system for licenses, dealers and software activation;</li>
          <li>development of a telemetry system, external modules, utilities, scripts.</li>
        </ul>
        Used:
        <ul>
          <li>common: C#, .NET 4.6, sockets, pipes, async programming, NUnit, SVN/GIT, Jira/Mantis, PowerShell; </li>
          <li>server: Windows Services, ado.net, t-sql, Entity Framework;</li>
          <li>client: WinForms, DevExpress;</li>
          <li>web: asp.net, JavaScript, TypeScript, AngularJS, Angular, html5, css3, WebApi.</li>
        </ul>
        <a routerLink="projects"
           fragment="lers"
           rel="nofollow">See projects and progress</a>
      </div>
    </div>
    <div class="work">
      <div class="period">2009 - 2011</div>
      <div class="text">
        <div class="title">MPB Intersectoral information-analytical center - Software Engineer</div>
        <ul>
          <li>support and и development municipal medical information system;</li>
          <li>writing SQL queries and working with databases in MS SQL Server;</li>
          <li>development C# application.</li>
        </ul>
        <p>Used: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
        <a routerLink="projects"
           fragment="miac"
           rel="nofollow">See projects and progress</a>
      </div>
    </div>
  </div>
</section>