ul {
    padding-left: 20px;

    li {
        margin: 4px 0;
    }
}

a {
    color: #000;
    padding: 1px 4px;
    border-radius: 4px;
    background-clip: padding-box;
    text-shadow: none;
    text-decoration: none;
    background-color: #b5edff;

    &:hover {
        background-color: #cff3ff;
    }
}