<section>
  <h3>Опыт работы ({{experience}} лет)</h3>
  <ul>
    <li>
      Дополнительно: ИП с 2012 года, репетиторство, наставничество и работа на иностранные компании.
    </li>
    <li>
      ООО "ЛЭРС УЧЕТ" (2011 – по настоящее время) -
      <b>Программист</b> (Отдел IT)
      <br>
      <u>Основные обязанности:</u>
      <ul>
        <li>разработка многозвенной системы диспетчеризации и учета потребления энергоресурсов, включая разработку серверной
          части, базы данных, клиентского приложения, слоя сетевого взаимодействия, своего фреймворка для интеграции с другими
          системами, веб‑интерфейс, webapi.</li>
        <li>разработка системы управления лицензиями, дилерами и активацией ПО;</li>
        <li>разработка системы телеметрии, внешних модулей, утилит, скриптов.</li>
      </ul>
      <u>Использование: </u>
      <ul>
        <li>общее: C#, .NET 4.6, sockets, pipes, async programming, NUnit, SVN/GIT, Jira/Mantis, PowerShell; </li>
        <li>сервер: Windows Services, ado.net, t-sql, Entity Framework;</li>
        <li>клиент: WinForms, DevExpress;</li>
        <li>веб‑интерфейс: asp.net, JavaScript, TypeScript, AngularJS, Angular, html5, css3, WebApi.</li>
      </ul>
      <a routerLink="projects"
         fragment="lers">Смотреть проекты и достижения</a>
    </li>
    <li>
      МБУ Межотраслевой информационно-аналитический центр (2009 – 2011) -
      <b>Программист</b> (Отдел ПО)
      <br>
      <u>Основные обязанности:</u>
      <ul>
        <li>сопровождение и доработка муниципальной медицинской информационной системы;</li>
        <li>написание SQL запросов и работа с базами данных в среде MS SQL Server;</li>
        <li>разработка прикладных программ на C#.</li>
      </ul>
      <u>Использование:</u> T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.
      <br>
      <a routerLink="projects"
         fragment="miac">Смотреть проекты и достижения</a>
    </li>
  </ul>
</section>