<div class="cv">
    <div class="wrapper">
        <h1>Теперь более <span class="nobr">формально (<a href="assets/author/resume_kluchko_michael.pdf" target="_blank">скачать файл</a>)</span></h1>
        <p>Ключко Михаил Юрьевич, 30 лет.</p>
        <app-contacts></app-contacts>
        <app-prof-skills></app-prof-skills>
        <app-presonal-qual></app-presonal-qual>
        <app-work-exp></app-work-exp>
        <section>
            <h3>Образование</h3>
            <ul>
                <li><u>Магистратура</u> (2009‑2011) Тихоокеанский государственный университет (ТОГУ, бывший ХГТУ).<br> 
                    Информатика и вычислительная техника.</li>
                <li><u>Инженер программист</u> (2004‑2009) Тихоокеанский государственный университет (ТОГУ, бывший ХГТУ).<br> Программное обеспечение.</li>
            </ul>
        </section>
        <section>
            <h3>Напишите мне</h3>
            <p>Если у вас есть интересный проект связанный с блокчейном, веб-разработкой, игростроением или вы просто хотите пообщаться на общие темы, пишите.</p>
        </section>
        <section>&nbsp;</section>
    </div>
</div>