<div class="cv">
    <div class="wrapper">
        <app-contacts></app-contacts>
        <app-prof-skills></app-prof-skills>
        <app-presonal-qual></app-presonal-qual>
        <app-work-exp></app-work-exp>
        <section>
            <h1>{{ 'about.education' | translate:{value: educationYears} }}</h1>
            <div *ngIf="currentLang == 'ru'">
                <div class="period">2009 - 2011</div>
                <div class="text">
                    <ul>
                        <li>
                            <strong>Магистратура: Информатика и вычислительная техника (2009-2011)</strong>
                            <div class="university">Тихоокеанский государственный университет, г. Хабаровск</div>
                        </li>
                        <li>
                            <strong>Инженер программист: Программное обеспечение (2004‑2009)</strong>
                            <div class="university">Хабаровский государственный технический университет, г. Хабаровск
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="currentLang == 'en'">
                <div class="period">2004 - 2009</div>
                <div class="text">
                    <ul>
                        <li>
                            <strong>Master degree: Informatics and computer engineering</strong>
                            <div class="university">Pacific National University, Russia, Khabarovsk city</div>
                        </li>
                        <li>
                            <strong>Software Engineer: Software</strong>
                            <div class="university">Khabarovsk State Technical University, Russia, Khabarovsk city</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>&nbsp;</section>
    </div>
</div>
