<section>
    <h1>{{ 'about.education' | translate:{value: educationYears} }}</h1>
    <div *ngIf="currentLang == 'ru'">
        <div class="education">
            <div class="period">2009 - 2011</div>
            <div class="text">
                <div class="title">Магистратура: Информатика и вычислительная техника</div>
                <div>Тихоокеанский государственный университет, г. Хабаровск</div>
            </div>
        </div>
        <div class="education">
            <div class="period">2004 - 2009</div>
            <div class="text">
                <div class="title">Инженер программист: Программное обеспечение</div>
                <div>Хабаровский государственный технический университет, г. Хабаровск</div>
            </div>
        </div>
    </div>
    <div *ngIf="currentLang == 'en'">
        <div class="education">
            <div class="period">2009 - 2011</div>
            <div class="text">
                <div class="title">Master degree: Informatics and computer engineering</div>
                <div>Pacific National University, Russia, Khabarovsk city</div>
            </div>
        </div>
        <div class="education">
            <div class="period">2004 - 2009</div>
            <div class="text">
                <div class="title">Software Engineer: Software</div>
                <div>Khabarovsk State Technical University, Russia, Khabarovsk city</div>
            </div>
        </div>
    </div>
</section>
