<section>
    <h1>{{ 'about.myProjects' | translate }}</h1>
    <div *ngIf="currentLang == 'ru'">
        <ul>
            <li>
                Разработал многопользовательскую систему учета личных финансов, которая в автоматическом или ручном
                режиме импортирует информацию из банковских систем (10+). Ведет аналитику и строит финансовый отчет.
                <a target="_blank" href="https://github.com/slidenergy/slidfinance-backend">GitHub</a>
            </li>
            <li>
                Разработал торгового робота криптовалютой на основе исходных кодов распределенной торговой биржи. Во
                время чего разобрался, как работает React и blockchain.
            </li>
            <li>
                Помогаю в наставничестве в свободное время и обучаю подростков информатики и программированию.
            </li>
        </ul>
        <a routerLink="projects"
           fragment="hobby"
           rel="nofollow">Смотреть проекты и достижения</a>
    </div>
    <div *ngIf="currentLang == 'en'">
        <ul>
            <li>
                I have developed a multi-user personal finance accounting system that, in automatic or manual mode
                imports information from banking systems (10+). It leads analytics and builds a financial report.
                <a target="_blank" href="https://github.com/slidenergy/slidfinance-backend">GitHub</a>
            </li>
            <li>
                I have developed a cryptocurrency trading robot based on the source codes of a distributed trading
                exchange. During working, I figured out how React and blockchain work.
            </li>
            <li>
                I mentor in my spare time and teach computer science and programming to teenagers.
            </li>
        </ul>
        <a routerLink="projects"
           fragment="hobby"
           rel="nofollow">See projects and achievements</a>
    </div>
</section>
