<section>
    <h1>{{ 'about.myProjects' | translate }}</h1>
    <div *ngIf="currentLang == 'ru'">
        <ul>
            <li>
                Разработал многопользовательскую систему учета личных финансов, которая в автоматическом или ручном
                режиме импортирует информацию из банковских систем (10+). Ведет аналитику и строит финансовый отчет.
                <a target="_blank" href="https://github.com/slidenergy/slidfinance-backend">GitHub</a>
            </li>
            <li>
                Разработал торгового робота криптовалютой на основе исходных кодов распределенной торговой биржи. Во
                время чего разобрался, как работает React и blockchain.
            </li>
            <li>
                Помогаю в наставничестве и обучаю подростков информатики и программированию.
            </li>
        </ul>
        <a routerLink="projects"
           fragment="hobby"
           rel="nofollow">Смотреть проекты и достижения</a>
    </div>
    <div *ngIf="currentLang == 'en'">
        <ul>
            <li>
                Разработал многопользовательскую систему учета личных финансов, которая в автоматическом или ручном
                режиме импортирует информацию из банковских систем (10+). Ведет аналитику и строит финансовый отчет.
                <a target="_blank" href="https://github.com/slidenergy/slidfinance-backend">GitHub</a>
            </li>
            <li>
                Разработал торгового робота криптовалютой на основе исходных кодов распределенной торговой биржи. Во
                время чего разобрался, как работает React и blockchain.
            </li>
            <li>
                Помогаю в наставничестве и обучаю подростков информатики и программированию.
            </li>
        </ul>
        <a routerLink="projects"
           fragment="hobby"
           rel="nofollow">See projects and achievements</a>
    </div>
</section>
