<section>
    <h1>{{ 'about.profSkills' | translate }}</h1>
    <div class="expertise-areas">
        <div class="expertise-area">
            <div class="icon"><i class="fa fa-server"></i></div>
            <div class="content">{{ 'about.serverSideDevelopment' | translate }}</div>
        </div>
        <div class="expertise-area">
            <div class="icon"><i class="fa fa-desktop"></i></div>
            <div class="content">{{ 'about.desktopApplicationDevelopment' | translate }}</div>
        </div>
        <div class="expertise-area">
            <div class="icon"><i class="fa fa-globe"></i></div>
            <div class="content">{{ 'about.webApplicationDevelopment' | translate }}</div>
        </div>
    </div>
    <div class="techs">
        <div class="tech">
            <img class="icon"
                 src="../../../assets/img/microsoft-net-icon.svg">
            <div class="tech-content">
                <div class="title">Back-end</div>
                <div class="text">
                    .NET Core, C#, ASP.NET, WebApi, async programming, T-SQL, NUnit testing,
                    Entity Framework
                </div>
            </div>
        </div>
        <div class="tech">
            <img class="icon"
                 src="../../../assets/img/angular-icon.svg">
            <div class="tech-content">
                <div class="title">Front-end</div>
                <div class="text">
                    Angular (NgRx, RxJs, TypeScript), JavaScript, HTML, CSS, SASS, WinForms,
                    DevExpress, DevExtreme, Angular Material UI, Blazor
                </div>
            </div>
        </div>
        <div class="tech">
            <img class="icon"
                 src="../../../assets/img/tools-icon.svg">
            <div class="tech-content">
                <div class="title">{{ 'about.tools' | translate }}</div>
                <div class="text">NodeJS, JIRA, GIT, MS Visual Studio, VS Code, WebStorm, MS SQL Server, Azure, Heroku
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="currentLang == 'ru'">
        <p>
            Знаю <b>английский язык</b> на уровне чтения, переписки и могу поддержать разговор. Есть опыт работы в <b>команде</b>, <b>удаленной
            работы</b>, <b>технической поддержки</b>, <b>коммерческой разработке ПО</b> и написания качественного и
            чистого кода с целью
            дальнейшего сопровождения.
        </p>
        <p>
            Есть большой опыт разработки различных сложных <b>многопользовательских систем</b> с нуля,
            <b>систем авторизаций и аутентификаций</b>. Умею работать с <b>реляционными базами данных</b>,
            оптимизировать запросы,
            таблицы и индексы, строить план выполнения. Умею разрабатывать <b>публичные API</b>, используя разные
            подходы.
            Большой опыт в <b>интеграции различных систем</b>. Умею разрабатывать сложный <b>frontend</b>: SPA,
            настольные приложения.
            Могу оказывать техническую поддержку, общаться с заказчиками, четко и последовательно изъяснять свои мысли,
            писать техническую документацию. Я использовал React, ReactNative, GraphQL, AngularJs в своих хобби проектах
            и я слежу за современными технологиями. Вовлечен в развитие проекта и мыслю задачами уровня всего проекта.
        </p>
    </div>
    <div *ngIf="currentLang == 'en'">
        <p>
            I know <b>English</b>: reading, correspondence and conversational. I have experience in <b>teamwork</b>, <b>remote
            work</b>, <b>technical support</b>, <b>commercial software development</b> and writing high quality and
            clean code for the purpose of further support.
        </p>
        <p>
            I have extensive experience in developing various complex <b>multi-user</b> systems from scratch, <b>authorization
            and authentication</b> systems. I can work with <b>relational databases</b>, optimize queries, tables and
            indexes, build an execution plan. I am able to develop <b>public APIs</b> using different approaches. I have
            extensive experience in <b>integrating various systems</b>. I am able to develop complex <b>frontend</b>:
            SPA, desktop applications. I used React, ReactNative, GraphQL, AngularJs and I follow modern technologies.
            I am involved in the development of the project and I think in terms of tasks at the level of the entire project.
        </p>
    </div>
</section>
