<section>
    <h1>{{ 'about.workExp' | translate:{value: workExperienceYears} }}</h1>
    <div *ngIf="currentLang == 'ru'">
        <div class="work">
            <div class="period">2017 - 2021</div>
            <div class="text">
                <div class="title">{{ 'ООО "ЛЭРС УЧЕТ" - Senior Full-stack .NET Developer' | noindex }}</div>
                Сайт продукта: <a target="_blank"
                                  rel="noreferrer nofollow"
                                  [href]="'http://www.lers.ru/soft' | noindex">{{ 'ЛЭРС УЧЕТ' | noindex}}</a>
                <ul>
                    <li>
                        Я был ответственен за всю веб-разработку в компании, за выбор технологий и вектора развития.
                        Ставил задачи и контролировал их выполнение, проводил ревью кода.
                    </li>
                    <li>
                        Разработал веб-приложение с нуля на Angular в замен устаревшего проекта. Новое приложение
                        является значимой частью основного продукта компании наравне с настольным и мобильным
                        приложением. Продвигал идею их замены на веб-приложение. Разработал ORM-like ядро для запросов к
                        серверу и кэширования. Внедрил code-style, юнит-тесты, реактивное программирование, управление
                        состоянием, адаптировал проект для сборки мобильного приложения используя Cordova, организовал и
                        настроил процесс разработки.
                    </li>
                    <li>
                        Участвовал в разработке нового функционала сервера (.net core). Начал внедрение и внес большой
                        вклад в развитии REST API по спецификации OpenApi на сервере.
                    </li>
                </ul>
                Использовалось:
                <ul>
                    <li>общее: C#, .NET Core 3.1, async programming, NUnit testing, GIT, Jira;</li>
                    <li>сервер: t-sql, Entity Framework;</li>
                    <li>веб‑интерфейс: asp.net, Angular (NgRx, RxJs, TypeScript), html, css, sass, WebApi, DevExtreme, Leaflet.</li>
                </ul>
                <a routerLink="projects"
                   fragment="lers"
                   rel="nofollow">Смотреть проекты и достижения</a>
            </div>
        </div>
        <div class="work">
            <div class="period">2013 - 2017</div>
            <div class="text">
                <div class="title">{{ 'ООО "ЛЭРС МЭНЕДЖЕР" - Middle Full-stack .NET Developer' | noindex }}</div>
                Сайт продукта: <a target="_blank"
                                  rel="noreferrer nofollow"
                                  [href]="'http://www.lers.ru/soft' | noindex">{{ 'ЛЭРС УЧЕТ' | noindex}}</a>
                <ul>
                    <li>
                        Участвовал в разработке всех компонентов основного программного комплекса компании для
                        диспетчеризации и учета потребления энергоресурсов, включая разработку сервера, базы данных (MS
                        SQL), клиентского приложения. Наша команда смогла создать лучшее решение для учета
                        энергоресурсов на пространстве стран СНГ с большим потенциалом выхода на международный рынок.
                    </li>
                    <li>
                        Внес большой вклад в проектирование и разработку фреймворка для интеграции с другими системами.
                        Спроектировал и разработал публичный REST API, внедрил OpenApi спецификацию. Разработал систему
                        авторизации и аутентификации пользователей.
                    </li>
                    <li>
                        Первым начал перевод на .net core и angular проектов в компании. Изучаю технологии на новых и
                        хобби проектах, так было с: Unit testing, AngularJS, EntityFramework, Angular.
                    </li>
                    <li>
                        Спроектировал и разработал новую систему активации продукта через интернет вместо старой офлайн
                        с проверкой ключа лицензии. Принял на сопровождение и дальнейшую разработку, продукт для работы
                        отдела продаж с лицензированием основного продукта, за несколько лет увеличил его функционал в
                        несколько раз. Разработал веб-интерфейс для дилеров и отдела технической поддержки.
                    </li>
                    <li>
                        Спроектировал и разработал систему регистрации, хранения и анализа телеметрических данных:
                        сервер (.net core, Entity Framework), frontend (Angular, DevExtreme). Провел глубокую
                        работу с оптимизацией SQL скриптов, таблиц и индексов, построением плана выполнения, поскольку
                        запросы обрабатывали большие объемы данных.
                    </li>
                    <li>
                        Параллельно оказывал техническую поддержку пользователей в странах СНГ, писал документацию, что
                        позволило прокачать мои soft-skills.
                    </li>
                </ul>
                Использовалось:
                <ul>
                    <li>общее: C#, .NET 4.6, sockets, pipes, async programming, NUnit, GIT, Jira;</li>
                    <li>сервер: Windows Services, t-sql, Entity Framework;</li>
                    <li>клиент: WinForms, DevExpress;</li>
                    <li>веб‑интерфейс: asp.net, JavaScript, AngularJS, html, css, WebApi.</li>
                </ul>
                <a routerLink="projects"
                   fragment="lers"
                   rel="nofollow">Смотреть проекты и достижения</a>
            </div>
        </div>
        <div class="work">
            <div class="period">2011 - 2013</div>
            <div class="text">
                <div class="title">{{ 'ООО "Энергоресурсосбережение" - Full-stack .NET Developer' | noindex }}</div>
                <ul>
                    <li>
                        Разработал уникальный продукт для настройки приборов и модемов, скачивание которого клиентами
                        конкурентных продуктов, превысило скачивание основного продукта
                    </li>
                    <li>
                        Разработал множество плагинов и модулей для интеграции с другими системами, публичный api
                        сервис, что позволило клиентам других программ переходить на наш продукт.
                    </li>
                    <li>
                        Разработал новое веб-приложение для большой системы с нуля (ASP.NET WebForms). Разработка
                        включала в себя полностью frontend, частично сервер и базу данных.
                    </li>
                    <li>
                        Переработал модули существующей системы, что позволило упростить саму систему для дальнейшей
                        разработки.
                    </li>
                    <li>Все вышеописанные действия привели к росту продаж в несколько раз.</li>
                </ul>
                Использовалось:
                <ul>
                    <li>общее: C#, .NET 3.5, SVN, Mantis, PowerShell;</li>
                    <li>сервер: Windows Services, ado.net, t-sql;</li>
                    <li>клиент: WinForms, DevExpress;</li>
                    <li>веб‑интерфейс: asp.net.</li>
                </ul>
                <a routerLink="projects"
                   fragment="lers"
                   rel="nofollow">Смотреть проекты и достижения</a>
            </div>
        </div>
        <div class="work">
            <div class="period">2011, 6 мес.</div>
            <div class="text">
                <div class="title">Neorise LTD - Middle Full-stack .NET Developer, freelance</div>
                <ul>
                    <li>
                        Участвовал в иностранной разработке системы автоматизации автосервиса. Разработал ряд модулей
                        затрагивающих клиентское приложение (DevExpress), сервер, базу данных (MS SQL).
                    </li>
                    <li>Разработал веб-интерфейс для планирования задач механиков (WebApi, JQuery).</li>
                    <li>Общался с заказчиком на всех этапах разработки на английском языке.</li>
                </ul>
                <p>Использовалось: T-SQL, .NET, WinForms, LINQ to SQL, DevExpress, WebApi, JQuery.</p>
            </div>
        </div>
        <div class="work">
            <div class="period">2009 - 2011</div>
            <div class="text">
                <div class="title">МБУ Межотраслевой информационно-аналитический центр - Junior Full-stack Developer
                </div>
                <ul>
                    <li>Участвовал в разработке, сопровождение единой медицинской информационной системы и внедрение
                        во все муниципальные учреждения здравоохранения г. Хабаровска. Писал и оптимизировал SQL
                        запросы, проектировал базу данных (MS SQL около 1000 таблиц).
                    </li>
                    <li>Спроектировал и разработал систему формирования заявок на льготные лекарственные препараты и
                        внедрил её в учреждения здравоохранения г. Хабаровска (.NET, DevExpress).
                    </li>
                    <li>Оказывал техническую поддержку пользователей учреждений здравоохранения г. Хабаровска.</li>
                </ul>
                <p>Использовалось: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
                <a routerLink="projects"
                   fragment="miac"
                   rel="nofollow">Смотреть проекты и достижения</a>
            </div>
        </div>
    </div>
    <div *ngIf="currentLang == 'en'">
        <div class="work">
            <div class="period">2017 - 2021</div>
            <div class="text">
                <div class="title">{{ 'LERS AMR Software - Senior Full-stack .NET developer' | noindex }}</div>
                Product site: <a target="_blank" rel="noreferrer nofollow"
                                 [href]="'http://www.lers.ru/soft' | noindex">{{ 'LERS AMR' | noindex}}</a>
                <ul>
                    <li>
                        I was responsible for all web development at the company, for the choice of technologies and
                        development vectors. I set tasks and controlled their implementation, did code review.
                    </li>
                    <li>
                        I have developed a web application from scratch in Angular to replace the legacy project. The
                        new app is a significant part of the company's core product along with the desktop and mobile
                        app. I was promoting the idea of replacing them with a web application. I have developed an
                        ORM-like core for server queries and caching. I implemented code-style, unit tests, reactive
                        programming, state management, adapted the project for building a mobile application using
                        Cordova, organized and configured the development process.
                    </li>
                    <li>
                        I was participating in the development of new server functionality (.net core). I started
                        implementing and contributed a lot to the development of the OpenApi REST API on the server.
                    </li>
                </ul>
                Used:
                <ul>
                    <li>common: C#, .NET Core 3.1, async programming, NUnit, GIT, Jira;</li>
                    <li>server: t-sql, Entity Framework;</li>
                    <li>web: asp.net, Angular (NgRx, RxJs, typescript), html, css, sass, WebApi, DevExtreme, Leaflet.</li>
                </ul>
                <a routerLink="projects"
                   fragment="lers"
                   rel="nofollow">See projects and achievements</a>
            </div>
        </div>
        <div class="work">
            <div class="period">2013 - 2017</div>
            <div class="text">
                <div class="title">{{ 'LERS MANAGER Company - Senior Full-stack .NET developer' | noindex }}</div>
                Product site: <a target="_blank"
                                 rel="noreferrer nofollow"
                                 [href]="'http://www.lers.ru/soft' | noindex">{{ 'LERS AMR' | noindex}}</a>
                <ul>
                    <li>
                        I participated in the development of all components of the main software complext of the company
                        for dispatch system and metering of energy consumption, including the development of a
                        server(.NET), database (MS SQL), client application (WinForms). Our team has created the best
                        solution for energy accounting in the CIS counties with great potential for entering the
                        international market.
                    </li>
                    <li>
                        I have contributed a lot to the design and development of a framework for integration with other
                        systems. I have designed and developed a public REST API, implemented the the OpenApi
                        specification.
                    </li>
                    <li>
                        I was the first to start transition into .net core and angular projects in the company. I study
                        technologies on new and hobby projects: Unit testing, AngularJS, EntityFramework, Angular.
                    </li>
                    <li>
                        I have designed and developed new product activation system by internet instead of the old
                        offline one with license key verification. I accepted for support and further development a
                        product for the work of the sales department with licensing of the main product. For several
                        years I increased its functionality several times. I have developed a web interface for dealers
                        and technical support.
                    </li>
                    <li>
                        I have designed and developed a system for recording, storing and analyzing telemetry data:
                        server (.net core, Entity Framework), frontend (Angular, DevExtreme). I have done deep work with
                        optimizing SQL scripts, tables and indexes, building an execution plan, since the queries were
                        processing large amounts of data.
                    </li>
                    <li>
                        At the same time, I provided technical support to users in the CIS countries, wrote
                        documentation, its allowed me to improve my soft-skills.
                    </li>
                </ul>
                Used:
                <ul>
                    <li>common: C#, .NET 4.6, sockets, pipes, async programming, NUnit, GIT, Jira;</li>
                    <li>server: t-sql, Entity Framework;</li>
                    <li>client: WinForms, DevExpress;</li>
                    <li>web: asp.net, JavaScript, AngularJS, html, css, WebApi.</li>
                </ul>
                <a routerLink="projects"
                   fragment="lers"
                   rel="nofollow">See projects and achievements</a>
            </div>
        </div>
        <div class="work">
            <div class="period">2011 - 2013</div>
            <div class="text">
                <div
                    class="title">{{ 'Energy and resource saving company - Full-stack .NET developer' | noindex }}</div>
                <ul>
                    <li>
                        I have developed a unique product for configuring devices and modems, its downloads by customers
                        of competitive products exceeded the download of the main product.
                    </li>
                    <li>
                        I have developed many plugins and modules for integration with other systems, a public api
                        service, which allowed clients of other programs to switch to our product.
                    </li>
                    <li>
                        I have developed a new web application for a large system from scratch (ASP.NET). The
                        development included a completely frontend, partly a server and a database.
                    </li>
                    <li>
                        I refactor the modules of the existing system, which made it possible to simplify the system
                        itself for further development.
                    </li>
                    <li>All of the above actions led to several-fold increase in sales.</li>
                </ul>
                Used:
                <ul>
                    <li>common: C#, .NET 3.5, SVN, Mantis, PowerShell;</li>
                    <li>server: Windows Services, ado.net, t-sql;</li>
                    <li>client: WinForms, DevExpress;</li>
                    <li>web: asp.net.</li>
                </ul>
                <a routerLink="projects"
                   fragment="lers"
                   rel="nofollow">See projects and achievements</a>
            </div>
        </div>
        <div class="work">
            <div class="period">2011, 6 months</div>
            <div class="text">
                <div class="title">Neorise LTD - Middle Full-stack .NET Developer, freelance</div>
                <ul>
                    <li>I participated in the foreign development of a car service automation system. I have developed
                        a number of modules affecting the client application (DevExpress), server, database (MS SQL).
                    </li>
                    <li>I have developed a web application for scheduling mechanics tasks (WebApi, JQuery).</li>
                    <li>I communicated with the customer at all stages of development in English.</li>
                </ul>
                <p>Used: T-SQL, .NET, WinForms, LINQ to SQL, DevExpress, WebApi, JQuery.</p>
            </div>
        </div>
        <div class="work">
            <div class="period">2009 - 2011</div>
            <div class="text">
                <div class="title">MPB Intersectoral information-analytical center - Junior Full-stack Developer</div>
                <ul>
                    <li>
                        I participated in the development, maintenance of a unified medical information system and
                        integration in all municipal healthcare institutions in Khabarovsk.
                    </li>
                    <li>I have written and optimized SQL queries, designed a database (MS SQL 1000 tables).</li>
                    <li>
                        I have designed and developed a system for creating queries for preferential medicines and
                        integration it into Khabarovsk’s healthcare institutions (.NET, DevExpress).
                    </li>
                    <li>I provided technical support for users of Khabarovsk healthcare institutions.</li>
                </ul>
                <p>Used: T-SQL, .NET 3.5, WinForms, ADO.NET, Entity Framework, DevExpress.</p>
                <a routerLink="projects"
                   fragment="miac"
                   rel="nofollow">See projects and achievements</a>
            </div>
        </div>
    </div>
</section>
